extends ../layouts/layout.pug

block title
  title 黑人問號 JS 社
block content
  - var js30 = locals["js30"]
  .container
    .row
      .col-sm-3.team
        h5.font-weight-bold.font-italic.text-white.team-tag.p-2 TEAM
        mixin team-content(img_src,name)
          .team-member(name= name)
            .d-flex.justify-content-center
              img.rounded-circle(src= img_src , alt='Card image cap')
            .my-2
              p.text-white.text-center
                span.team-member-name= name
        .team-content
          each data in js30
            +team-content(data.avatar, data.user)
      .col-sm-9
        .row
          .col-6.d-flex.align-items-center
            span.h3 [
            p.mb-2
              span.text-white.pl-3.mb-1 OUR MISSION ：
              span.pr-3 教你如何 30 天內放棄 JS
            span.h3 ]
          .col-6.d-flex.align-items-center
            p.text-warning.mb-2
              span.custom-alerts.p-2 ! WARNING : JavaScript is dangerous !!
        .main
          each data in js30
            .user(id=data.user)
              .row
                .col-6
                  p.main-tag-bg
                    span.px-3.py-1.main-name-tag= `File from : ${data.user}`
                .col-6
                  p.mb-2.main-tag-right
                    span.h3 [
                    span.p-3.mx-2= data.murmur
                    span.h3 ]
              .row
                each col_index in [0,1,2]
                  .col-4
                    ul
                      - var day_index = col_index * 10
                      while data.days[day_index] && day_index < (col_index+1) * 10
                        - var day = data.days[day_index]
                        li.mt-3
                          a(href=`./js30/${data.user}/${day}/index.html`)
                            span.text-white.font-weight-bold= day
                        - day_index ++
